/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

.hero-text {
    background-color: rgba(0, 0, 0, 0.6); /* Fondo negro con 60% de opacidad */
    padding: 20px;
    border-radius: 10px; /* Bordes redondeados */
}

/* Clase para redimensionar el logo */
.logo-img {
    width: 190px;  /* Ancho deseado */
    height: auto;  
    margin-bottom: 5px;
    border-radius: 110px;
    
}

section, div {
    max-width: 100%;
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
}


img {
    max-width: 100%;
    height: auto; /* Mantiene las proporciones de la imagen */
    display: block; /* Evita espacios extra alrededor de la imagen */
}

/* Ajustes para centrar la imagen y el texto */
#about .row {
    justify-content: center; /* Centra horizontalmente las columnas */
}

#about img {
    max-width: 100%; /* Asegura que la imagen no se desborde */
    height: auto;
}

#about .col-lg-6 {
    text-align: center; /* Centra el texto en cada columna */
}

#about p {
    margin: 0 auto; /* Centra los párrafos dentro del contenedor */
}

/* Estilos generales para las tarjetas */
.card {
    color: white;
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 10px;
    overflow: hidden;
}

.card .card-body {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente para mejorar la legibilidad del texto */
    padding: 20px;
}

/* Ajustes generales para las tarjetas */
.card {
    color: white;
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    width: 100%; /* Ancho por defecto al 100% de su contenedor */
    height: 300px; /* Altura ajustada según tu preferencia */
}

/* Ejemplo para tarjetas más pequeñas */
.card-small {
    height: 100px; /* Altura reducida */
}

/* Estilo para centrar y resaltar el contenido de la tarjeta */
.card-body {
    display: flex; /* Usar Flexbox */
    flex-direction: column; /* Alinear los elementos en columna */
    justify-content: center; /* Centrar verticalmente */
    align-items: center; /* Centrar horizontalmente */
    background-color: rgba(0, 0, 0, 0.6); /* Fondo oscuro semitransparente, ligeramente más oscuro */
    color: blue; /* Color del texto en blanco */
    padding: 30px; /* Aumentar el padding para dar más espacio */
    text-align: center; /* Centrar el texto */
    height: 100%; /* Asegurar que ocupe toda la altura de la tarjeta */
    border-radius: 10px; /* Bordes redondeados para un mejor acabado */
}

.card-body h5.card-title {
    font-size: 2rem; /* Tamaño de fuente más grande para el título */
    font-weight: bold; /* Texto en negrita */
    color: #ffc400; /* Color amarillo brillante para resaltar */
    text-transform: uppercase; /* Texto en mayúsculas */
    margin-bottom: 20px; /* Más espacio debajo del título */
    letter-spacing: 1.5px; /* Espaciado entre letras para mayor impacto */
}

.card-text {
    color: 	#6495ED !important; /* Forzar el color naranja */
    font-size: 1.1rem !important; /* Asegurar que el tamaño de fuente se aplique */
    font-style: italic !important; 
}


.card-body .btn-link {
    font-size: 2.2rem; /* Tamaño de fuente aumentado para el botón */
    color: white; /* Mantiene el color del título */
    text-decoration: none; /* Elimina subrayado */
}

.card-body .btn-link:hover {
    text-decoration: underline; /* Añade subrayado al pasar el mouse */
    color: #ffbf00; /* Color de hover más brillante */
}



/* Imágenes de fondo específicas para cada tarjeta */
.bg-preinversion {
    background-image: url('/assets/images/ingenieriapreinversion.jpg');
}

.bg-expedientes {
    background-image: url('/assets/images/expedientestecnicos.jpg'); 
}

.bg-ejecucion {
    background-image: url('/assets/images/ejecucionobras.jpg'); 
}

.bg-diagnosticos {
    background-image: url('/assets/images/infraestructuraservicios.jpg'); 
}

.bg-intervencion {
    background-image: url('/assets/images/intevencionimediata.jpg');
}

/* Contenedor del botón */
.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Espacio superior para evitar que esté pegado al borde superior */
    margin-bottom: 20px; /* Espacio inferior para evitar que esté pegado al borde inferior */
}

/* Estilo del botón de Consulta Gratuita */
.btn-primary {
    background-color: #ffc400; /* Color de fondo amarillo */
    color: #333; /* Color del texto */
    border: none; /* Sin bordes visibles */
    font-size: 1.3rem; /* Tamaño de la fuente más grande */
    padding: 15px 30px; /* Espaciado interno para un botón más grande */
    border-radius: 10px; /* Bordes redondeados */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transiciones suaves */
    cursor: pointer; /* Cambia el cursor a pointer al pasar sobre el botón */
}

/* Estilos adicionales para el estado hover y focus */
.btn-primary:hover {
    background-color: #ff9900; /* Cambia el color de fondo al pasar el mouse */
    transform: scale(1.05); /* Aumenta ligeramente el tamaño */
}

.btn-primary:focus {
    outline: none; /* Sin contorno de foco */
    box-shadow: 0 0 10px rgba(255, 153, 0, 0.5); /* Añade un brillo al hacer foco */
}


/* Asegurar que el texto no se desborde */
.hero-text {
    overflow-wrap: break-word; /* También puede ser 'anywhere' para asegurar la ruptura en cualquier parte */
    word-wrap: break-word;
    word-break: break-word;
    text-align: center; /* Mantiene el texto centrado */
}

/* Ajustes para la sección de hero */
.hero-section {
    padding: 20px; /* Asegura que el texto no esté pegado al borde */
    max-width: 100%; /* Asegura que la sección no se extienda más allá del viewport */
}

/* Para mantener el contenido dentro del contenedor en secciones generales */
section {
    padding: 20px;
    box-sizing: border-box; /* Incluye el padding en el cálculo del ancho total */
}


/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .hero-text h1 {
        font-size: 2rem; /* Reduce el tamaño del título en pantallas pequeñas */
    }

    .hero-text p {
        font-size: 1rem; /* Ajusta el tamaño del texto */
    }

    section {
        padding: 15px; /* Reduce el padding en pantallas pequeñas */
    }
}

.hero-text h1 {
    font-size: 3rem;
    font-weight: bold;
}

.hero-text p {
    font-size: 1.25rem;
}

h2 {
    font-weight: bold;
    margin-bottom: 20px;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-link {
    font-size: 1.1rem;
}

/* Hero Section */
.hero-section {
    background-image: url('/assets/images/sobre.jpg'); /* Cambia esta ruta según la ubicación de tu imagen */
    background-size: cover;
    background-position: center;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
    max-width: 100%;

}

.hero-section h1 {
    font-size: 3rem;
    font-weight: bold;
}

.hero-section p {
    font-size: 1.25rem;
}

/* Sección de Servicios */
#services .card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

#services .card:hover {
    transform: translateY(-5px);
}

#services .card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
}

#services .card-text {
    font-size: 1rem;
    color: #555;
}

/* Sección Sobre Nosotros */
#about {
    background-color: #f9f9f9;
}

#about p {
    font-size: 1.1rem;
    color: #666;
}

/* Sección Proyectos */
#projects img {
    transition: transform 0.3s ease;
    width: 100%;
}

#projects img:hover {
    transform: scale(1.05);
}


/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 1rem;
}
