/* General Styles */
body {
    font-family: Arial, sans-serif;
}

.navbar-brand {
    font-weight: bold;
}
.logo-image {
    width: 67px; 
    height: auto; 
    margin-left: 15px;
}

.header {
    background-color: #ffc400; 
    color: white;
}


.consultation-button {
    color: #ffc400;
    background-color: white;
    border: 1px solid #ffc400;
}

.consultation-button:hover {
    color: white;
    background-color: #ffc400;
}
.rounded-image {
    border-radius: 10px;
}
.company-name {
    font-size: 1.5rem;
    color: #ffc400;
}
.service-box {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
    transition: transform 0.3s ease;
    margin-bottom: 20px; 
    margin-top: 20px; 
}

.service-box button {
    background: none;
    border: none;
    color: #ffc400;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.service-box button:hover {
    text-decoration: underline;
}
.service-box:hover {
    transform: translateY(-10px);
}

.service-icon {
    font-size: 3rem;
    color: #343a40;
}

.card-title {
    font-size: 1.25rem;
    color: #ffc400;
}

footer {
    background-color: #343a40;
    color: white;
}

footer p {
    margin-bottom: 0;
}

.modal-header {
    background-color: #ffc400;
    color: white;
}

.modal-title {
    font-weight: bold;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}


#consultationModal .form-label {
    font-weight: bold;
}

#consultationModal input, #consultationModal textarea {
    border-radius: 5px;
}

#consultationModal button {
    margin-top: 10px;
}

#contact{
    background-color: #ffc400;
    padding: 10px 5px;
}
.mb-3 {
    margin-bottom: 15px; /* Reduce el margen inferior para ajustar los espacios */
}

.py-3 {
    padding-top: 15px; /* Reduce el padding superior de la sección */
    padding-bottom: 15px; /* Reduce el padding inferior de la sección */
}



#contact .form-control {
    font-size: 0.5rem; /* Tamaño más pequeño para los campos del formulario */
    padding: 3px; /* Reduce el padding interno de los campos */
}

#contact .form-control::placeholder {
    font-size: 0.85rem; /* Tamaño más pequeño para el texto del placeholder */
}

#contact .btn-light {
    font-size: 0.9rem; /* Tamaño más pequeño para el botón */
    padding: 8px 16px; /* Reduce el padding del botón */
}

#contact .btn-light:hover {
    background-color: #e0a800;
}




